.gallery__text {
  padding: 54px 20px 60px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $color-4;
}

.gallery__tex-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 17px 25px;
  margin: 0 0;
  background-color: #f2f2f2;

  &--day-pic {
    margin: 0 20px;
    margin-bottom: 20px;
  }
}

.gallery__day-pic {
  position: relative;
  display: flex;
  flex-direction: column;
}

.gallery__list {
  margin: 0;
  padding: 0 20px;
}

.gallery__item {
  margin: 0;
  margin-bottom: 20px;
  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.gallery__img-link {
  display: flex;
}

.gallery__img {
  aspect-ratio: 280/180;
  width: 100%;
  height: 100%;
  object-fit: cover;

  &--day-pic {
    height: 180px;
  }
}


.gallery__pano-day {
  margin: 0;
  padding: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  // content: "Панорама дня";
  color: #ffffff;
  background-color: #d22856;
  width: 140px;
  height: 36px;
  top: 0;
  right: 20px;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}


.gallery__head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.gallery__name {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: $color-4;
}

.gallery__date {
  margin: 0;
  margin-left: 3px;
  padding: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: $color-4;
}

.gallery__cite {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: $color-4;
  margin-bottom: 23px;
}

.gallery__like {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: none;
  background: none;
  margin-top: auto;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856;

  &::before {
    content: "";
    background: url("../img/catalog/heart.svg") no-repeat center;
    background-size: 13px 12px;
    width: 13px;
    height: 12px;
    margin-right: 18px;
  }
}

@media (min-width: $tablet-width) {
  .gallery__text {
    font-size: 18px;
    margin: 100px 20px 85px;
  }

  .gallery__text br {
    display: none;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 20px;
  }

  .gallery__item {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .gallery__tex-content {
    flex-grow: 1;

    &--day-pic {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .gallery__cite {
    grid-column: 1/-1;
  }

  .gallery__img {
    aspect-ratio: 1/1;

    &--day-pic {
      height: 509px;
    }
  }

  .gallery__pano-day {
    top: 57px;
  }

  .gallery__like {
    width: 100%;

    &::before {
      margin: 0;
      order: 2;
      flex-grow: 1;
      background-position: right;
    }

    &--day-pic {
      justify-content: flex-end;
      grid-column: -2/-1;
      grid-row: 1/2;

      &::before {
        content: "";
        margin-left: 16px;
        order: 2;
        flex-grow: 0;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .gallery__text {
    font-size: 18px;
    margin: 100px 20px 97px;
  }

  .gallery__text br {
    display: inline;
  }

  .gallery__tex-content {
    &--day-pic {
      margin: 0;
      margin-bottom: 50px;
    }
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    gap: 50px 20px;
  }

  .gallery__img {
    aspect-ratio: 4/3;

    &--day-pic {
      height: 506px;
    }
  }

  .gallery__wrap-pano-day {
    position: absolute;
    display: flex;
    width: 960px;
    align-self: center;
  }

  .gallery__pano-day {
    right: 0;
  }
}
