.advantage-list {
  margin: 0;
  padding: 70px 20px 0;
  text-align: center;
}

.advantage-list__item {
  list-style: none;
}

.advantage-list__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.advantage-list__text {
  font-size: 14px;
  line-height: 24px;
  color: $color-4;
}

@media (min-width: $tablet-width) {
  .advantage-list {
    text-align: start;
  }
}

@media (min-width: $desktop-width) {
  .advantage-list {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    text-align: start;
  }

  .advantage-list__item {
    text-align: center;

    &:nth-child(1)::before {
      content: "";
      margin: 0 auto;
      display: flex;
      background: url("../img/index/information/up-happiness.png") no-repeat top;
      height: 300px;
    }

    &:nth-child(2)::before {
      content: "";
      margin: 0 auto;
      display: flex;
      background: url("../img/index/information/change-world.png") no-repeat top;
      height: 300px;
    }

    &:nth-child(3)::before {
      content: "";
      margin: 0 auto;
      display: flex;
      background: url("../img/index/information/new-friends.png") no-repeat top;
      height: 300px;
    }
  }
}
