.advantage-list {
  padding: 70px 20px 0;
  text-align: center;

  &::after {
    width: 157px;
    height: 320px;
    margin: 0 auto;
    content: "";
    display: flex;
    background: url("../../../img/information/phone-smile.jpg") no-repeat;
    background-position: 0% 40px;
  }
}

.advantage-list__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.advantage-list__text {
  font-size: 14px;
  line-height: 24px;
  color: $color-4;
}

