.intro {
  margin-top: 328px;
}

.intro__social-wraper {
  padding: 22px 0 38px;
}

.intro__button-download {
  font-size: $font-size-2;
  line-height: $line-height-1;
  font-weight: $font-weight-3;
  min-height: 55px;
}

.intro__text {
  padding: 0;
  margin: 0;
  font-size: $font-size-1;
  line-height: $line-height-1;
  font-weight: $font-weight-1;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .intro {
    margin-top: 0;
  }
}
