.price {
  position: relative;
  padding-top: 140px;
  padding-bottom: 50px;

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    min-width: 1200px;
    height: 100%;
    left: 50%;
    margin-left: -600px;
    background: url("../img/index/grey_background.svg#svgView(preserveAspectRatio(none))") no-repeat, linear-gradient(180deg, #ffffff00 200px, #f2f2f2 200px) no-repeat;
    background-size: 100%;
    top: 0%;
  }
}

.price__table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 40px;
}

.price__cell {
  overflow: hidden;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 25px 42px;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
  outline: 2px solid #e5e5e5;
  background-color: #ffffff;

  &--hit::before {
    z-index: -1;
    width: 300px;
    min-height: 24px;
    content: "Хит";
    position: absolute;
    left: -122px;
    top: 19px;
    background-color: #d22856;
    transform: rotate(-45deg);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
  }

  &--invisible {
    outline: none;
    background: transparent;
  }

  &--title {
    text-align: center;
    background-color: $color-4;
    color: $color-2;
  }
}

.price__cell-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--no::after {
    content: "";
    height: 32px;
    min-width: 32px;
    background: url("../img/price/no.svg") no-repeat right;
  }

  &--yes::after {
    content: "";
    height: 32px;
    min-width: 32px;
    background: url("../img/price/yes.svg") no-repeat right;
  }
}

.price__title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

.price__price {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

.price__pagination-list {
  display: none;
  width: 56px;
  margin: 0 auto;
  padding: 0;
  margin-top: 45px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.price__pagination-item {
  list-style: none;
}

@media (max-width: $mobile-width-only) {
  .price {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .price__table {
    width: auto;
    position: relative;
    align-items: center;
  }

  .price__cell {
    min-width: 280px;

    &--left-title {
      display: none;
    }
  }

  .price__pagination-list {
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .price {
    padding: 117px 20px 70px;
  }

  .price__cell-wrap {
    justify-content: center;
  }

  .price__cell-text:not(.price__cell-text--title) {
    display: none;
  }

  .price .price__pagination {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    &::before {
      width: 100%;
      height: 100%;
      left: 0;
      margin-left: 0;
      background-size: 100% 715px;
    }
  }
}
