.review__list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.review__item {
  list-style: none;
}

.review__review__block-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.review__block-bio {
  font-weight: 300;
}

.review__pagination-list {
  width: 56px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


.review__pagination-item {
  list-style: none;
}
