.review__list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.review__item {
  list-style: none;
}

.review__block-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
}

.review__block-bio {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

@media (max-width: $mobile-width-only) {
  .review__block-bio {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .review__block {
    display: flex;
    flex-direction: column;
  }

  .review__block-cite {
    order: 1;
  }

  .review__block-bio {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .review {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .review__list {
    padding: 0 126px;
  }

  .review__block-bio {
    display: block;
  }

  .review__block-comment {
    &::before {
      content: "";
      // outline: 1px solid red;
      display: flex;
      background: url("../img/index/review/quotes.svg") no-repeat center;
      min-width: 79px;
      height: 63px;
    }
  }

  .review__pagination-arrow {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50px;
    left: 0;
    right: 0;
  }

  .review__button-arrow {
    &--back {
      background: url("../img/index/review/left arrow.svg") no-repeat;
      min-width: 22px;
      height: 41px;
    }

    &--next {
      background: url("../img/index/review/left arrow.svg") no-repeat;
      min-width: 22px;
      height: 41px;
      transform: rotate(180deg);
    }
  }

  .review__pagination-list {
    display: none;
  }
}
