.social-list {
  padding: 32px 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list__item-apple {
  display: block;
  background-image: url("../../../img/apple-logo.svg");
  background-repeat: no-repeat;
  width: 47px;
  height: 56px;
}

.social-list__item-google {
  display: block;
  background-image: url("../../../img/android-logo.svg");
  background-repeat: no-repeat;
  width: 43px;
  height: 47px;
}

.social-list__item-microsoft {
  display: block;
  background-image: url("../../../img/microsoft-logo.svg");
  background-repeat: no-repeat;
  width: 44px;
  height: 41px;
}
