
.page-form__head-text {
  padding: 0 20px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $color-4;
}


.page-form__group {
  border: none;
  margin: 0;
  padding: 0 20px;

  &--background {
    background: #f2f2f2;
  }
}

.page-form__group-title {
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
}

.page-form__list {
  margin: 0;
  padding: 0;
}

.page-form__item {
  list-style: none;
  font-size: 18px;
  line-height: 30px;
  color: $color-4;
}

.page-form__label {
  box-sizing: border-box;
}

.page-form__label-text {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
}

.page-form__input {
  width: 100%;
  box-sizing: border-box;
  min-height: 63px;
  font-size: 18px;
  line-height: 30px;
  color: $color-4;
  border: 2px solid #e5e5e5;
  border-radius: 1px;

  &--text-area {
    height: 197px;
    width: 100%;
  }
}

.page-form__required-info {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $color-4;

  &--color {
    color: #d22856;
  }
}

.page-main__wrap-button {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  justify-content: center;
}

@media (max-width: $mobile-width-only) {
  .page-form__button {
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .page-form__form {
    display: flex;
    flex-direction: column;
  }

  .page-form__label {
    display: flex;
    align-items: center;
  }

  .page-form__group {
    &:not(:first-child) {
      border: 2px solid #e5e5e5;
      padding: 50px 60px;
      margin: 0 20px;
    }

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    &--background {
      background: none;
    }

    &--name {
      order: -3;
    }

    &--app {
      order: -2;
    }

    &--contacts {
      order: -1;
    }

    &--achivement {
      order: 0;
    }
  }

  .page-form__label--contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .page-form__label--contacts .page-form__label-text{
    order: 2;
  }

  .page-form__item {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  .page-main__wrap-button {
    justify-content: space-between;
  }

  .page-form__button {
    width: 300px;
  }
}

// @media (min-width: $desktop-width) {
// }
