.page-form__head-text {
  padding: 0 20px;
  margin-top: 54px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $color-4;
}

.page-form__form {
  margin-top: 55px;
}

.page-form__group {
  border: none;
  margin: 0;
  padding: 0 20px;

  &:not(:last-child) {
    margin-bottom: 50px;
  }

  &--background {
    background: #f2f2f2;
  }
}

.page-form__group-title {
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
}

.page-form__list {
  margin: 0;
  padding: 0;
}

.page-form__item {
  list-style: none;
  font-size: 18px;
  line-height: 30px;
  color: $color-4;

  &:not(:first-child) {
    margin-top: 47px;
  }

  &--name {
    &:not(:first-child) {
      margin-top: 29px;
    }
  }
}

.page-form__label {
  box-sizing: border-box;
}

.page-form__label-text {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
}

.page-form__input {
  width: 100%;
  padding: 0 22px;
  box-sizing: border-box;
  min-height: 63px;
  font-size: 18px;
  line-height: 30px;
  color: $color-4;
  border: 2px solid #e5e5e5;
  border-radius: 1px;

  &--text-area {
    height: 197px;
    width: 100%;
  }

  &:hover {
    border-color: #283645;

    &::placeholder {
      color: #283645;
    }
  }

  &:focus-visible {
    border-color: #d22856;
    outline: none;
  }
}

.page-form__required-info {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $color-4;

  &--color {
    color: #d22856;
  }

  &--desktop-visible {
    display: none;
  }
}

.page-form__wrap-button {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  justify-content: center;
}

.page-form__button {
  width: 100%;
  min-height: 59px;
}

@media (max-width: $mobile-width-only) {
  .page-form__group {
    &--background {
      padding: 0 0 44px;
      background: #f2f2f2;

      & .page-form__group-title {
        background: #f2f2f2;
        padding: 42px 20px 44px;
        box-sizing: border-box;
        width: 100%;
      }

      & .page-form__list {
        padding: 0 20px;
      }
    }
  }


  .page-form__label-text {
    margin-left: 23px;
  }

  .page-form__button {
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .page-form__head-text {
    margin-top: 54px;
    font-size: 18px;
  }

  .page-form__form {
    margin-top: 82px;
    display: flex;
    flex-direction: column;
  }

  .page-form__group {
    &:not(:first-child) {
      border: 2px solid #e5e5e5;
      padding: 50px 60px;
      margin: 0 20px;
    }

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    &--background {
      background: none;
    }

    &--name {
      order: -3;
    }

    &--app {
      order: -2;
    }

    &--contacts {
      order: -1;
    }

    &--achivement {
      order: 0;
    }
  }

  .page-form__item {
    &--name {
      &:not(:first-child) {
        margin-top: 56px;
      }
    }
  }

  .page-form__label {
    display: flex;
    align-items: center;

    &--contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &.page-form__label-text {
        order: 2;
      }
    }
  }

  .page-form__wrap-input {
    display: flex;
    width: 100%;

    &::after {
      content: "";
      background-color: #e5e5e5;
      display: flex;
      min-width: 59px;
      min-height: 59px;
    }

    &--phone {
      &::after {
        background-image: url("../img/form/phone_icon.svg");
        background-repeat: no-repeat;
        background-size: 20px 19px;
        background-position: center;
      }
    }

    &--mail {
      &::after {
        background-image: url("../img/form/mail_icon.svg");
        background-repeat: no-repeat;
        background-size: 18px 13px;
        background-position: center;
      }
    }
  }

  .page-form__label-text {
    margin-right: 20px;
  }

  .page-form__wrap-button {
    justify-content: space-between;
  }

  .page-form__button {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .page-form__head-text {
    padding: 0;
    margin-top: 100px;
  }

  .page-form__form {
    margin-top: 95px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    column-gap: 74px;
  }

  .page-form__group {
    padding: 0;

    &:not(:first-child) {
      margin-left: 0;
      margin-right: 0;
    }

    &--contacts {
      grid-column: 1/-1;
    }

    &--achivement {
      grid-column: 1/-1;
    }

    &--comments {
      grid-column: 1/-1;
    }
  }

  .page-form__item {
    &--name {
      &:not(:first-child) {
        margin-top: 58px;
      }
    }
  }

  .page-form__list {
    &--achivement {
      columns: 3;
    }

    &--contacts {
      columns: 2;
      column-gap: 74px;
    }
  }

  .page-form__wrap-button {
    grid-column: 1/-1;
    padding: 0;
  }

  .page-form__required-info--desktop-visible {
    display: inline;
  }
}
