@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-display: swap;
}

$font-size-1: 14px;
$font-size-2: 18px;
$font-size-3: 24px;
$font-size-4: 40px;
$font-size-5: 50px;


$line-height-1: 24px;
$line-height-2: 29px;
$line-height-3: 33px;
$line-height-4: 48px;
$line-height-5: 68px;

$font-weight-1: 300;
$font-weight-2: 400;
$font-weight-3: 700;

a {
  color: inherit;
  text-decoration: none;
}

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

// Шаблон для вставки

// @media (max-width: $mobile-width-only) {
// }

// @media (min-width: $tablet-width) {
// }

// @media (min-width: $desktop-width) {
// }
