.button {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button--stork {
  border: 3px solid $color-2;
  border-radius: 27px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  &:hover {
    background-color: #ffffff;
    color: #d22856;
  }

  &:active {
    color: #d2285630;
  }
}

.button--fill {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: $color-2;
  background: $color-5;
  // border: 2px solid $color-5;
  border-radius: 1px;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: #ffffff30;
  }

  &:disabled {
    background-color: #e5e5e5;
    color: #ffffff;
  }
}
