.main-nav {
  position: relative;
  width: 100%;
  background-color: $color-3-30;
}

.main-nav__wrap-nav {
  height: 63px;
  position: inherit;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main-nav__logo {
  display: flex;
}

.main-nav__toggle {
  &--open {
    background: url("../../img/page-header/icon/open-menu-btn.svg") no-repeat;
    width: 50px;
    height: 24px;
  }

  &--close {
    background: url("../../img/page-header/icon/close-menu-btn.svg") no-repeat;
    width: 23px;
    height: 23px;
  }
}

.main-nav__list {
  width: 100%;
  position: absolute;
  top: 0;

  &::before {
    content: "";
    display: flex;
    height: 63px;
    width: 100%;
    background: $color-4;
    box-shadow: 0 1px 0 $color-3, inset 0 1px 0 $color-2-15;
  }
}

.main-nav__item {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  width: 100%;
  box-sizing: border-box;
  font-size: $font-size-3;
  font-weight: $font-weight-3;
  line-height: $line-height-2;
  background: $color-4;
  box-shadow: 0 1px 0 $color-3, inset 0 1px 0 $color-2-15;
}

