.page-header {
  color: $color-2;
  background-color: $color-1;
  background-size: cover;
  min-height: 237px;
}

.page-header__wrap {
  color: $color-2;
  background: url("../img/page-header/back-mobile.jpg") no-repeat;
  background-position: top;

  background-size: cover;
  min-height: 237px;
}

.page-header__title {
  margin: 0;
  margin-top: 29px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: $font-size-3;
  font-weight: $font-weight-1;
  line-height: $line-height-3;

  &--index::after {
    margin-top: 34px;
    content: "";
    display: block;
    background: url("../img/page-header/phone-background.png") no-repeat bottom;
    background-size: contain;
    width: 100%;
    height: 286px;
    bottom: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header__wrap {
    min-height: 440px;

    &--index {
      min-height: 729px;
    }

    &--index::before {
      background-size: 545px, cover;
      background-position: bottom right, top;
    }
  }

  .page-header__wrap-header-content {
    &--index {
      background: url("../img/page-header/phone-background.png") no-repeat bottom right -100px;
      background-size: auto 545px;
      min-height: 619px;
    }
  }

  .page-header__title {
    font-size: $font-size-4;
    line-height: $line-height-4;

    &--index {
      margin: 0;
      padding-top: 102px;
      width: 300px;
    }

    &--index::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header__title {
    font-size: $font-size-5;
    line-height: $line-height-5;
    &--index {
      margin: 0;
      padding-top: 114px;
      width: 300px;
    }
  }

  .page-header__wrap {
    &--index::before {
      background-size: 545px, cover;
      background-position: bottom right 130px, top;
    }
  }

  .page-header__wrap-header-content {
    padding: 0;

    &--index {
      min-height: 645px;
    }
  }
}
