.page-footer {
  padding: 40px 20px;
}

.page-footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/page-footer/logotype-blue-tablet.svg") no-repeat center;
  min-width: 145px;
  height: 40px;

  &:hover:not(:active) {
    mask: url("../img/page-footer/logotype-blue-tablet.svg") no-repeat center;
    background: #d22856;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__social-list {
  list-style: none;
  margin: 0;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-footer__social-item:not(:last-child) {
  margin-right: 8px;
}

.page-footer__social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 3px solid $color-4-10;
  border-radius: 50%;
  width: 54px;
  height: 54px;

  &:hover {
    border-color: #283645;
  }

  &:active {
    opacity: 30%;
    border-color: #28364533;
  }

  &--twitter {
    background: url("../img/page-footer/twitter.svg")
      no-repeat center;
  }

  &--facebook {
    background: url("../img/page-footer/facebook.svg") no-repeat center;
  }

  &--youtube {
    background: url("../img/page-footer/youtube.svg") no-repeat center;
  }
}

.page-footer__copyright-text {
  padding: 20px 0;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-4;

  &::after {
    content: "";
    margin-left: 15px;
    background: url("../img/page-footer/html-academy.svg") no-repeat;
    width: 27px;
    height: 34px;
  }

  &:hover::after {
    mask: url("../img/page-footer/html-academy.svg") no-repeat;
    background: #000000;
  }

  &:active::after {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding: 40px 0;
    align-items: center;
  }

  .page-footer__logo {
    background: url("../img/page-footer/logotype-blue-desktop.svg") no-repeat;
    min-width: 147px;
    height: 40px;

    &:hover:not(:active) {
      mask: url("../img/page-footer/logotype-blue-desktop.svg") no-repeat;
      background: #d22856;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
