
// ! cкорее всего на удаление
.page-main__header-text {
  padding: 0 20px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $color-4;
}

// ! скорее всего на удаление
.page-main__side-padding {
  padding: 0 20px;
}
