.page-header {
  color: $color-2;
  background-color: $color-1;
  background-size: cover;
  min-height: 237px;
}

.page-header__wrap {
  color: $color-2;
  background: url("../img/page-header/back-mobile.jpg") no-repeat;
  background-position: top;

  background-size: cover;
  min-height: 237px;
}

.page-header__title {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: $font-size-3;
  font-weight: $font-weight-1;
  line-height: $line-height-3;

  &--index::after {
    content: "";
    display: block;
    background: url("../img/page-header/phone-background.png") no-repeat bottom;
    background-size: contain;
    width: 100%;
    height: 286px;
    bottom: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header__wrap {
    &--index::before {
      background-size: 545px, cover;
      background-position: bottom right, top;
    }
  }

  .page-header__wrap-header-content {
    &--index {
      background: url("../img/page-header/phone-background.png") no-repeat bottom right;
      background-size: contain;
      min-height: 545px;
    }
  }

  .page-header__title {
    width: 300px;
    font-size: $font-size-4;
    line-height: $line-height-4;

    &--index::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header__title {
    font-size: $font-size-5;
    line-height: $line-height-5;
  }

  .page-header__wrap {
    &--index::before {
      background-size: 545px, cover;
      background-position: bottom right 130px, top;
    }
  }

  .page-header__wrap-header-content {
    padding: 0;

    &--index {
      min-height: 645px;
    }
  }
}
