.page {
  // ! флекс для того что бы футтер прижимался книзу, но нужно еще проверить правино ли сделал
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 320px;
}

.page__page-main {
  flex-grow: 1;
}
