.link {
  text-decoration: none;
  color: black;
  position: relative;
}

/* увеличение зони кликания на ссылку

.link::before {
  content: "";
  position: absolute;
  padding: 10px;
  width: 100%;
  height: 100%;
  left: -10px;
  top: -10px;
  outline: 1px dotted red;
} */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item:not(:last-child) {
  margin-right: 20px;
}

.main-nav {
  outline: 1px solid red;
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
}

.main-nav__container {
  outline: 1px dotted green;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main-nav__logo {
  outline: 2px solid palevioletred;
}

.main-nav__nav-list {
  outline: 2px solid goldenrod;
  display: flex;
}

.main-nav__nav-link--active {
  position: relative;
}

.main-nav__nav-link--active::before {
  position: absolute;
  content: "";
  width: 100%;
  background-color: red;
  height: 3px;
  bottom: -5px;
}


.main-nav__user-list {
  outline: 2px solid blue;
  display: flex;
}
